html {
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  body {
    background-color: rebeccapurple !important;
  }
  .nav {
    background-color: #03AED2;
  }
  
  a.nav-link {
    color: black;
  }
  
  a.nav-link:hover {
    color: lightblue;
  }
  
  a.nav-link:active {
    color: darkblue;
  }
  
  a.nav-link:visited {
    color: purple;
  }
  
  .card-img-top {
    height: 50% !important;
    width: 50% !important;
    padding-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card {
    height: 350px;
    width: 300px;
    justify-content: center;
    align-items: center;
  }
  
  .card-body {
    overflow: hidden;
  }
  .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }